<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-57x57.png"
  sizes="57x57"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-114x114.png"
  sizes="114x114"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-72x72.png"
  sizes="72x72"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-144x144.png"
  sizes="144x144"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-60x60.png"
  sizes="60x60"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-120x120.png"
  sizes="120x120"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-76x76.png"
  sizes="76x76"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="https://assets.miniaussiedoodle.dog/images/apple-touch-icon-152x152.png"
  sizes="152x152"
/>
<link
  rel="icon"
  href="https://assets.miniaussiedoodle.dog/images/favicon-16x16.png"
  type="image/png"
  sizes="16x16"
/>
<link
  rel="icon"
  href="https://assets.miniaussiedoodle.dog/images/favicon-32x32.png"
  type="image/png"
  sizes="32x32"
/>
<link
  rel="icon"
  href="https://assets.miniaussiedoodle.dog/images/favicon-96x96.png"
  type="image/png"
  sizes="96x96"
/>
<link
  rel="icon"
  href="https://assets.miniaussiedoodle.dog/images/favicon-128x128.png"
  type="image/png"
  sizes="128x128"
/>
<link
  rel="icon"
  href="https://assets.miniaussiedoodle.dog/images/favicon-196x196.png"
  type="image/png"
  sizes="196x196"
/>